<app-header />
<table  class="mat-elevation-z8">
  <thead>
    <tr>
        <th>No. Id </th>
        <th>Nombre y Apellido</th>
        <th>Telefono</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of contactos; let i =  index">
        <td> {{item.id}} </td>
        <td> {{item.name}} {{item.last_name}} </td>
        <td> {{item.phone}} </td>
        <td>
          <button mat-button color="primary" [routerLink]="['view', item.id]" >Editar</button>
          <button mat-button color="warn" (click)="deleteContact(item.id,i)" >Eliminar</button>
        </td>
      </tr>
  </tbody>
</table>